<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Calorias</th>
        <th scope="col">Grasas</th>
        <th scope="col">Hidratos</th>
        <th scope="col">Proteina</th>
        <th scope="col">Sodio</th>
        <th scope="col">Calcio</th>
        <th scope="col">Iron</th>
        <th scope="col">Comentario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let postre of postres; let i = index" >
          <td>{{i+1}}</td>
        <td>{{postre.name}}</td>
        <td>{{postre.type}}</td>
        <td>{{postre.calories.value}}</td>
        <td>{{postre.fat.value}}</td>
        <td>{{postre.carbs.value}}</td>
        <td>{{postre.protein.value}}</td>
        <td>{{postre.sodium.value}}</td>
        <td>{{postre.calcium.value}}</td>
        <td>{{postre.iron.value}}</td>
        <td>{{postre.comment}}</td>
      </tr>
    </tbody>
  </table>